services:
  db:
    image: postgres:latest
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: prompt-master

  app:
    build:
      context: .
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
    ports:
      - "8080:8080"
    entrypoint: ["./wait-for-it.sh", "db:5432", "--timeout=30", "--", "bin/entry"]
    command: bundle exec puma -C config/puma.rb
    volumes:
      - .:/app
      - ./../inspiration:/app/inspiration
    depends_on:
      - db
