#scroll-buttons.btn-group{role: "group"}
  %button.btn.btn-primary.floatBtn#scrollUpBtn{onclick: "topFunction()", title: "Scroll up"}
    %i.fa-solid.fa-chevron-up
  %button.btn.btn-primary.floatBtn#scrollDownBtn{onclick: "bottomFunction()", title: "Scroll down"}
    %i.fa-solid.fa-chevron-down
#swipe-buttons.btn-group{role: "group"}
  %button.btn.btn-primary.floatBtn#swipeLeftBtn{onclick: "swipeLeft()", title: "Left swipe"}
    %i.fa-solid.fa-chevron-left
  %button.btn.btn-primary.floatBtn#swipeRightBtn{onclick: "swipeRight()", title: "Right swipe"}
    %i.fa-solid.fa-chevron-right
-# Floating field to store comma-separated collected tags
#tag-collection.floatBtn{style: "display: none;"}
  %input.noSelect#tag-collection-input{type: "text"}
  %button#tag-collection-copy.noSelect{data: {'clipboard-target': '#tag-collection-input'}}
    %i.fa-solid.fa-copy
  %button#tag-collection-clear.noSelect
    %i.fa-regular.fa-trash-can
