%button.floatBtn#topBtn{onclick: "topFunction()", title: "Go to top"}
  Top
%button.floatBtn#swipeLeftBtn{onclick: "swipeLeft()", title: "Left swipe"}
  <
%button.floatBtn#swipeRightBtn{onclick: "swipeRight()", title: "Right swipe"}
  >
