!!! 5
%html
  %head
    %title Prompt master
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{content: "sd.hobl.in", name: "description"}/
    %meta{content: "StableDiffusion prompt keywords tags", name: "keywords"}/
    %link{href: "/images/favicon.ico", rel: "icon", type: "image/ico"}/
    %link{href: "https://fonts.cdnfonts.com/css/source-code-pro", rel: "stylesheet"}
    %link{href: "/stylesheets/simple-grid.min.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css", rel: "stylesheet"}
    %link{href: "/stylesheets/style.css", rel: "stylesheet", type: "text/css"}/
    %script{crossorigin: "anonymous", integrity: "sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=", src: "https://code.jquery.com/jquery-3.6.3.min.js"}
    -# Swiper
    %script{src: "https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"}
    -# Infinite scroll
    %script{src: "/javascripts/infinite-scroll.pkgd.min.js"}
    -# Modal
    %script{src: "https://unpkg.com/micromodal/dist/micromodal.min.js"}
    %link{href: "/stylesheets/micromodal.css", rel: "stylesheet", type: "text/css"}/
    -# Copy to clipboard
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.10/clipboard.min.js"}
    -# fontawesome
    %script{crossorigin: "anonymous", src: "https://kit.fontawesome.com/08b1825a15.js"}
    %script{src: "/javascripts/app.js"}
  %body
    #content.container
      = yield
      = haml :modal
    #footer
      = haml :buttons
      %p A Sinatra App to manage SD prompt tokens by Hoblin 2023.
