<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Prompt master</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="sd.hobl.in" />
    <meta name="keywords" content="StableDiffusion prompt keywords tags" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link href="https://fonts.cdnfonts.com/css/source-code-pro" rel="stylesheet">
    <link rel="icon" type="image/ico" href="/images/favicon.ico" />
  </head>
  <body>
    <%= yield %>
  </body>
</html>