#image-modal.modal.micromodal-slide{"aria-hidden" => "true"}
  .modal__overlay{"data-micromodal-close" => "", tabindex: "-1"}
    .modal__container{"aria-labelledby" => "image-modal-title", "aria-modal" => "true", role: "dialog"}
      %header.modal__header
        %h3#image-modal-title.modal__title
        .actions
          %button#image-modal-featured.noSelect
            %i.fa-regular.fa-heart
          %button#image-modal-unfeatured.noSelect
            %i.fa-solid.fa-heart
          %button#image-modal-hide.noSelect
            %i.fa-regular.fa-eye-slash
          %button#image-modal-unhide.noSelect
            %i.fa-solid.fa-eye-slash
          %button.modal__copy.noSelect{data: {'clipboard-target': '#image-modal-title'}}
            %i.fa-solid.fa-copy
          %button.modal__close.noSelect{"aria-label" => "Close modal", "data-micromodal-close" => ""}
            %i.fa-solid.fa-close
      %main#image-modal-content.modal__content
