%button.btn.image-modal-collect-tag.noSelect{type: "button"}
  %i.fa-solid.fa-cart-plus
%button.btn.image-modal-featured.noSelect{type: "button"}
  %i.fa-regular.fa-heart
%button.btn.image-modal-unfeatured.noSelect{type: "button"}
  %i.fa-solid.fa-heart
%button.btn.image-modal-hide.noSelect{type: "button"}
  %i.fa-regular.fa-eye-slash
%button.btn.image-modal-unhide.noSelect{type: "button"}
  %i.fa-solid.fa-eye-slash
%button.btn.modal-copy.noSelect{type: "button", data: {'clipboard-target': '#image-modal-title'}}
  %i.fa-solid.fa-copy