<div>
  <h1>A Sinatra app to access Google+</h1>
  <h3>Get Google+ Info</h3>

  <p>This Google+ ID belongs to <%= @gplus.row0 %></p>
  <p>
  <table id="hor-minimalist-a" summary="Google+ details">
    <thead>
      <tr>
        <th scope="col">Property</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Tagline</td>
        <td><%= @gplus.row1 %></td>
      </tr>
      <tr>
        <td>G+ URL</td>
        <td><%= @gplus.row2 %></td>
        </tr>
    </tbody>
  </table>
  </p>

  <p><a href="/">Back</a></p>
</div>
<div id="footer">
  <p><b>A Fun Sinatra App for Google+ by RubyLearning 20 Sept. 2011</b>.</p>
</div>
