* {
	font-family: "Source Code Pro", "Lucida Console", Monaco, monospace;
	background-color: #183549;
	color: #9dffff;
	font-size: 1 em;
}

body{
	line-height: 1.6 em;
}

h1 {
  color: #ffc600;
	text-decoration: underline;
	font-size: 1.5 em;
}

h2 {
  color: #ffc600;
  font-size: 1.2 em;
}

#footer {
  clear: both;
  border-top: 1px solid #ffb454;
	color: #9ef68d;
  text-align: left;
  height: 50px;
  font-size: 70%;
  width: 100%;
}
